<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

</script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<head>
    <title>Booking Tickets!!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.pubnub.com/pubnub-3.15.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdn.pubnub.com/sdk/pubnub-angular/pubnub-angular-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      
  </head> 
  <h5><p style = "margin-left: 1200px">
    <a>
        <div class="media border p-3" style="margin-left: -1200px;height: 20%">
          <img src="assets\logo1.png" alt="myCinema" >
        </div>
    </a>
    <a routerLink="/">Logout</a>
    </p>
  </h5>
  <div [ngStyle]="{backgroundImage:'url(./assets/image_movie.jpg)'}" style = "height:580px;background-size: contain;background-repeat: no-repeat;">
  <!--<div class="container">
    <table class = "table table-bordered table-striped table-hover table-sm" style="text-align: center;">
        <thead>
            <tr>
                <th style="text-align:center;">Id</th>
                <th style="text-align:center;">No.ofTickets</th>
                <th style="text-align:center;">Movie Id</th>
                <th style="text-align: center;">Movie Name</th>
                <th style="text-align: center;">Movie Date</th>
                <th style="text-align: center;">Movie Time</th>
                <th style="text-align: center;">Theatre Name</th>
                <th style="text-align: center;">Theatre Address</th>
                
            </tr>
        </thead>
    <tr *ngFor="let ticket of ticket">
        <td>{{ticket.ticketId}}</td>
        <td>{{ticket.noofTickets}}</td>
        <td>{{ticket.movie.movieId}}</td>
        <td>{{ticket.movie.movieName}}</td>
        <td>{{ticket.movie.movieDate}}</td>
        <td>{{ticket.movie.movieTime}}</td>
        <td>{{ticket.movie.theatre.theatreName}}</td>
        <td>{{ticket.movie.theatre.theatreAddress}}</td>
    </tr>
    </table>   
          


</div>-->
<div class="row justify-content-center">
  
  <h2 class="text-center">
<p>Check your mail and enter details.<br>
  Enter number of tickets to be cancelled<br>
</p>
</h2>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <form  #cancelForm= "ngForm" (ngSubmit)="confirm(cancelForm.value)" style="text-align:justify">
      <h3>
        Enter ticketId:
          <input type = "text" class="form-control" name="ticketId" ngModel #ticketId="ngModel" placeholder = "TicketID" required><br/>
        Enter no.of tickets:
          <input type = "text" class="form-control" name="cancelTicketCount" ngModel #cancelTicketCount="ngModel" placeholder="No.of Tickets" required><br/>
          <button class = "btn btn-primary" (click)="validate()">submit</button> 
      </h3>
  </form>
  </div>
</div>