<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<head>
  <title>Booking Tickets!!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.pubnub.com/pubnub-3.15.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://cdn.pubnub.com/sdk/pubnub-angular/pubnub-angular-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    
</head> 
<h5><p style = "margin-left: 1200px">
  <a>
      <div class="media border p-3" style="margin-left: -1200px;height: 20%">
        <img src="assets\logo1.png" alt="myCinema" >
      </div>
    </a>&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/">Logout</a>
  </p>
</h5>

<div [ngStyle]="{backgroundImage:'url(./assets/image_movie.jpg)'}" style = "height:580px;background-size: contain;background-repeat: no-repeat;">
<!-- Form Name -->
<legend style="text-align: center;">PAYMENT</legend>

<!-- Text input-->
<div class="col-md-6" style="text-align: center;">
  <form class="form-horizontal">

  <div class="form-group">
    <label class="col-md-4 control-label">Amount per ticket :</label>  
    <div class="col-md-4">
      {{output.amount}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label">Total Amount :</label>  
    <div class="col-md-4">
      {{output.total}}
    </div>
  </div>

  <button type="button"  class="btn btn-success " data-dismiss="modal" (click) = "confirm()">Continue</button>
</form>
</div>
</div>
 
  <!--<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation </h4>
        
        <div class="modal-body">
          <p>Confirm transaction?If you continue, you will be receiving an email within 10 minutes.</p>
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-success " data-dismiss="modal" (click) = "confirm()">Continue</button>&nbsp;&nbsp;&nbsp;&nbsp;
          
                                  
          <button type="button" class="btn btn-danger" data-dismiss="modal">No,wait</button>
        </div>       
      </div>
    </div>-->
  

  