<!DOCTYPE html>
<html lang="en">
<head>
  <title>Booking Tickets!!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Exo:400,900' rel='stylesheet' type='text/css'>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.pubnub.com/pubnub-3.15.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://cdn.pubnub.com/sdk/pubnub-angular/pubnub-angular-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    
</head> 

<body > 
    
<h5><p style = "margin-left: 1000px">
  <a>
    <div class="media border p-3" style="margin-left: -1000px;height: 20%">
      <img src="assets\logo1.png" alt="myCinema" >
    </div>
  </a>
  <a routerLink="app-admin-login">Admin Login</a>&nbsp;&nbsp;
    <a routerLink="app-customer-register">Register</a>&nbsp;&nbsp;
    <a routerLink="app-customer-login">Login</a>
</p></h5>

<!--<div class="container" [ngStyle]="{'background-image': 'assets\background.jpg', 'height' : '600px' , 'background-size' : 'contain'}"></div> -->

<!--<div class="media border p-3" style="margin-trim: 1000px;height: 500%;">
  <img src="assets\background.jpg" alt="Booking Tickets" >
</div>-->
<div [ngStyle]="{backgroundImage:'url(./assets/movie3.jpg)'}" style = "height:500px;background-size: contain;">
  
</div>

  
</body>
</html>